:root {
    --primary-color: black;
    --secondary-color: pink;
    --padding: 10px;
}


.button {
    position: relative;
    left: 50%;
    top: 1rem;
    padding: var(--padding);
    transition: background-color 0.3s ease;
}

.button::before {
    content: "🔥";
    margin-right: 5px;
}

.container {
   padding: var(--padding);
   border: 1px solid black;
   margin: 10px;
   background-color: red;
   box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.button:hover {
    background-color: var(--secondary-color);
}